/* CheckBox
 * 
 * Styling CheckBox mainly includes:
 * 
 * 1. Containers
 * 		.dijitCheckBox|.dijitCheckBoxIcon - for border, padding, width|height and background image
 * 
 * 2. CheckBox within ToggleButton
 * 		.dijitToggleButton|.dijitToggleButtonChecked .* - for background image
 * 
 * 3. Checked state
 * 		.dijitCheckBoxChecked - for checked background-color|image
 * 		.dijitToggleButtonChecked - for border, background-color|image, display and width|height
 * 
 * 4. Hover state
 * 		.dijitCheckBoxHover|.dijitCheckBoxCheckedHover - for background image
 * 
 * 5. Disabled state
 * 		.dijitCheckBoxDisabled|.dijitCheckBoxCheckedDisabled - for background image
 */
.classic .dijitToggleButton .dijitCheckBoxIcon {
  background-image: url("../images/sprite.png");
}
.dj_ie6 .classic .dijitToggleButton .dijitCheckBoxIcon {
  background-image: url("../images/checkmarkNoBorder.gif");
}
.classic .dijitCheckBox, .classic .dijitCheckBoxIcon {
  background-image: url("../images/sprite.png");
  /* checkbox sprite image */

  background-repeat: no-repeat;
  width: 15px;
  height: 16px;
  margin: 0 2px 0 0;
  padding: 0;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.dj_ie6 .classic .dijitCheckBox, .dj_ie6 .classic .dijitCheckBoxIcon {
  background-image: url("../form/images/checkboxAndRadioButtons_IE6.png");
  /* checkbox sprite image */

}
.classic .dijitCheckBox, .classic .dijitToggleButton .dijitCheckBoxIcon {
  /* unchecked */

  background-position: -2px -1px;
}
.classic .dijitCheckBoxChecked, .classic .dijitToggleButtonChecked .dijitCheckBoxIcon {
  /* checked */

  background-position: -78px -2px;
}
.classic .dijitCheckBoxDisabled {
  /* disabled */

  background-position: -154px -1px;
}
.classic .dijitCheckBoxCheckedDisabled {
  /* disabled but checked */

  background-position: -174px -1px;
}
.classic .dijitCheckBoxHover {
  /* hovering over an unchecked enabled checkbox */

  background-position: -2px -1px;
}
.classic .dijitCheckBoxCheckedHover {
  /* hovering over an checked enabled checkbox */

  background-position: -78px -2px;
}
