/* Slider 
 * 
 * Styling Slider mainly includes styling the Slider progress bar (dijitSliderProgressBar)
 * 
 * Slider progress bar:
 * 1. Slider progress bar (default styling): 
 * 		.dijitSliderProgressBarH - progress bar at the middle of horizontal slider
 * 		.dijitSliderLeftBumper - bar at the left of horizontal slider
 * 		.dijitSliderRightBumper - bar at the right of horizontal slider
 * 		.dijitSliderProgressBarV - progress bar at the middle of vertical slider
 * 		.dijitSliderTopBumper - bar at the top of vertical slider
 * 		.dijitSliderBottomtBumper - bar at the bottom of vertical slider
 * 
 * 2. hovered Slider progress bar (ie, mouse hover on progress bar)
 * 		.dijitSliderHover .dijitSliderProgressBarH(horizontal) - hovered bar style: background, border
 * 
 * 3. focused Slider progress bar (ie, mouse focused on progress bar)
 * 		.dijitSliderFocused .dijitSliderProgressBarH(horizontal) - focus bar style: background, border
 * 
 * 4. disabled/read-only Slider progress bar 
 * 		.dijitSliderDisabled .dijitSliderProgressBarH(horizontal) - bar styles when slider is disabled
 * 
 * 
 * Slider Thumbs:
 * 1. Slider Thumbs (default styling): 
 * 		.dijitSliderImageHandleH / .dijitSliderImageHandleV - styles for the controller on the progress bar
 * 
 * 2. hovered Slider Thumbs (ie, mouse hover on slider thumbs)
 * 		.dijitSliderHover .dijitSliderImageHandleH - hovered controller style
 * 
 * 3. focused Slider progress bar (ie, mouse focused on slider thumbs)
 * 		.dijitSliderFocused .dijitSliderImageHandleV - focused controller style
 * 
 * 
 * Slider Increment/Decrement Buttons:
 * 1. Slider Increment/Decrement Buttons (default styling): 
 * 		.dijitSliderDecrementIconH - decrement icon which lies at the left of horizontal slider
 * 		.dijitSliderIncrementIconH - increment icon which lies at the right of horizontal slider
 * 		.dijitSliderDecrementIconV - decrement icon which lies at the bottom of vertical slider
 * 		.dijitSliderIncrementIconV - increment icon which lies at the top of vertical slider
 * 
 * 2. hovered Slider Increment/Decrement Buttons (mouse hover on the icons)
 * 		.dijitSliderHover .dijitSliderDecrementIconH - for background, border
 * 
 * 3. active Slider Increment/Decrement Buttons (mouse down on the icons)
 * 		.dijitSliderActive .dijitSliderIncrementIconV - for background, border
 * 
 * 4. disabled/read-only Slider Increment/Decrement Buttons
 * 		.dijitSliderDisabled .dijitSliderDecrementIconH - styles for the icons in disabled slider
 * 		.dijitSliderReadOnly .dijitSliderIncrementIconV - styles for the icons in read-only slider
 */
.classic .dijitSliderBar {
  border-style: solid;
  outline: 1px;
}
.classic .dijitSliderFocused .dijitSliderBar {
  border-color: #5b2f24;
}
.classic .dijitSliderHover .dijitSliderBar {
  border-color: #5b2f24;
}
.classic .dijitSliderDisabled .dijitSliderBar {
  background-image: none;
  border-color: #4a4a4a;
}
.classic .dijitRuleLabelsContainer {
  color: #000000;
}
/* Horizontal Slider */
.classic .dijitRuleLabelsContainerH {
  padding: 2px 0;
}
.classic .dijitSlider .dijitSliderProgressBarH, .classic .dijitSlider .dijitSliderLeftBumper {
  border-color: #656d78;
  background-color: #f04e23;
  background-image: -moz-linear-gradient(top, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0) 2px);
  background-image: -webkit-linear-gradient(top, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0) 2px);
  background-image: -o-linear-gradient(top, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0) 2px);
  background-image: linear-gradient(top, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0) 2px);
}
.classic .dijitSlider .dijitSliderRemainingBarH, .classic .dijitSlider .dijitSliderRightBumper {
  border-color: #656d78;
  background-color: #243748;
}
.classic .dijitSliderRightBumper {
  border-right: solid 1px #656d78;
}
.classic .dijitSliderLeftBumper {
  border-left: solid 1px #656d78;
}
.classic .dijitSliderHover .dijitSliderProgressBarH, .classic .dijitSliderHover .dijitSliderLeftBumper {
  background-color: #f43300;
  border-color: #5b2f24;
}
.classic .dijitSliderHover .dijitSliderRemainingBarH, .classic .dijitSliderHover .dijitSliderRightBumper {
  background-color: #243748;
  border-color: #5b2f24;
}
.classic .dijitSliderFocused .dijitSliderProgressBarH, .classic .dijitSliderFocused .dijitSliderLeftBumper {
  background-color: #f43300;
  border-color: #5b2f24;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.classic .dijitSliderFocused .dijitSliderRemainingBarH, .classic .dijitSliderFocused .dijitSliderRightBumper {
  background-color: #243748;
  border-color: #5b2f24;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.classic .dijitSliderDisabled .dijitSliderProgressBarH, .classic .dijitSliderDisabled .dijitSliderLeftBumper {
  background-color: #4a4a4a;
  /* left side of slider, fill matches border */

  background-image: none;
}
.classic .dijitSliderDisabled .dijitSliderRemainingBarH, .classic .dijitSliderDisabled .dijitSliderRightBumper {
  background-color: #264460;
}
/* Vertical Slider */
.classic .dijitRuleLabelsContainerV {
  padding: 0 2px;
}
.classic .dijitSlider .dijitSliderProgressBarV, .classic .dijitSlider .dijitSliderBottomBumper {
  border-color: #656d78;
  background-color: #f04e23;
  background-image: -moz-linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 1px);
  background-image: -webkit-linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 1px);
  background-image: -o-linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 1px);
  background-image: linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 1px);
}
.classic .dijitSlider .dijitSliderRemainingBarV, .classic .dijitSlider .dijitSliderTopBumper {
  border-color: #656d78;
  background-color: #243748;
}
.classic .dijitSliderBottomBumper {
  border-bottom: solid 1px #656d78;
}
.classic .dijitSliderTopBumper {
  border-top: solid 1px #656d78;
}
.classic .dijitSliderHover .dijitSliderProgressBarV, .classic .dijitSliderHover .dijitSliderBottomBumper {
  background-color: #f43300;
  border-color: #5b2f24;
}
.classic .dijitSliderHover .dijitSliderRemainingBarV, .classic .dijitSliderHover .dijitSliderTopBumper {
  background-color: #243748;
  border-color: #5b2f24;
}
.classic .dijitSliderFocused .dijitSliderProgressBarV, .classic .dijitSliderFocused .dijitSliderBottomBumper {
  background-color: #f43300;
  border-color: #5b2f24;
  -webkit-box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
}
.classic .dijitSliderFocused .dijitSliderRemainingBarV, .classic .dijitSliderFocused .dijitSliderTopBumper {
  background-color: #243748;
  border-color: #5b2f24;
  -webkit-box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
}
.classic .dijitSliderDisabled .dijitSliderProgressBarV, .classic .dijitSliderDisabled .dijitSliderBottomBumper {
  background-color: #4a4a4a;
  /* bottom side of slider, fill matches border */

}
.classic .dijitSliderDisabled .dijitSliderRemainingBarV, .classic .dijitSliderDisabled .dijitSliderTopBumper {
  background-color: #264460;
}
/* ------- Thumbs ------- */
.classic .dijitSliderImageHandleH {
  border: 0;
  width: 18px;
  height: 16px;
  background-image: url("../form/images/sliderThumbs.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.classic .dijitSliderHover .dijitSliderImageHandleH {
  background-position: -18px 0;
}
.classic .dijitSliderFocused .dijitSliderImageHandleH {
  background-position: -36px 0;
}
.classic .dijitSliderProgressBarH .dijitSliderThumbHover {
  background-position: -36px 0;
}
.classic .dijitSliderProgressBarH .dijitSliderThumbActive {
  background-position: -36px 0;
}
.classic .dijitSliderReadOnly .dijitSliderImageHandleH, .classic .dijitSliderDisabled .dijitSliderImageHandleH {
  background-position: -54px 0;
}
.classic .dijitSliderImageHandleV {
  border: 0;
  width: 18px;
  height: 16px;
  background-image: url("../form/images/sliderThumbs.png");
  background-repeat: no-repeat;
  background-position: -289px 0;
}
.classic .dijitSliderHover .dijitSliderImageHandleV {
  background-position: -307px 0;
}
.classic .dijitSliderFocused .dijitSliderImageHandleV {
  background-position: -325px 0;
}
.classic .dijitSliderProgressBarV .dijitSliderThumbHover {
  background-position: -325px 0;
}
.classic .dijitSliderProgressBarV .dijitSliderThumbActive {
  background-position: -325px 0;
}
.classic .dijitSliderReadOnly .dijitSliderImageHandleV, .classic .dijitSliderDisabled .dijitSliderImageHandleV {
  background-position: -343px 0;
}
/* ---- Increment/Decrement Buttons ---- */
.classic .dijitSliderButtonContainerH {
  padding: 1px 3px 1px 2px;
}
.classic .dijitSliderButtonContainerV {
  padding: 3px 1px 2px 1px;
}
.classic .dijitSliderDecrementIconH,
.classic .dijitSliderIncrementIconH,
.classic .dijitSliderDecrementIconV,
.classic .dijitSliderIncrementIconV {
  background-image: url("../form/images/commonFormArrows.png");
  background-repeat: no-repeat;
  background-color: #f04e23;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: solid 1px #656d78;
  font-size: 1px;
}
.classic .dijitSliderDecrementIconH, .classic .dijitSliderIncrementIconH {
  height: 12px;
  width: 9px;
}
.classic .dijitSliderDecrementIconV, .classic .dijitSliderIncrementIconV {
  height: 9px;
  width: 12px;
}
.classic .dijitSliderActive .dijitSliderDecrementIconH,
.classic .dijitSliderActive .dijitSliderIncrementIconH,
.classic .dijitSliderActive .dijitSliderDecrementIconV,
.classic .dijitSliderActive .dijitSliderIncrementIconV,
.classic .dijitSliderHover .dijitSliderDecrementIconH,
.classic .dijitSliderHover .dijitSliderIncrementIconH,
.classic .dijitSliderHover .dijitSliderDecrementIconV,
.classic .dijitSliderHover .dijitSliderIncrementIconV {
  /* dijitSliderActive should be treated as dijitSliderHover since "clicking the slider" has no meaning */

  border: solid 1px #5b2f24;
  background-color: #243748;
}
.classic .dijitSliderDecrementIconH {
  background-position: -357px 50%;
}
.classic .dijitSliderActive .dijitSliderDecrementIconH.classic .dijitSliderHover .dijitSliderDecrementIconH {
  background-position: -393px 50%;
}
.classic .dijitSliderIncrementIconH {
  background-position: -251px 50%;
}
.classic .dijitSliderActive .dijitSliderIncrementIconH.classic .dijitSliderHover .dijitSliderIncrementIconH {
  background-position: -283px 50%;
}
.classic .dijitSliderDecrementIconV {
  background-position: -38px 50%;
}
.classic .dijitSliderActive .dijitSliderDecrementIconV.classic .dijitSliderHover .dijitSliderDecrementIconV {
  background-position: -73px 50%;
}
.classic .dijitSliderIncrementIconV {
  background-position: -143px 49%;
}
.classic .dijitSliderActive .dijitSliderIncrementIconV.classic .dijitSliderHover .dijitSliderIncrementIconV {
  background-position: -178px 49%;
}
.classic .dijitSliderButtonContainerV .dijitSliderDecrementButtonHover,
.classic .dijitSliderButtonContainerH .dijitSliderDecrementButtonHover,
.classic .dijitSliderButtonContainerV .dijitSliderIncrementButtonHover,
.classic .dijitSliderButtonContainerH .dijitSliderIncrementButtonHover {
  background-color: #f04e23;
}
.classic .dijitSliderButtonContainerV .dijitSliderDecrementButtonActive,
.classic .dijitSliderButtonContainerH .dijitSliderDecrementButtonActive,
.classic .dijitSliderButtonContainerV .dijitSliderIncrementButtonActive,
.classic .dijitSliderButtonContainerH .dijitSliderIncrementButtonActive {
  background-color: #f43300;
  border-color: #5b2f24;
}
.classic .dijitSliderButtonInner {
  visibility: hidden;
}
.classic .dijitSliderDisabled .dijitSliderBar {
  border-color: #4a4a4a;
}
.classic .dijitSliderReadOnly *, .classic .dijitSliderDisabled * {
  border-color: #4a4a4a;
  color: #000000;
}
.classic .dijitSliderReadOnly .dijitSliderDecrementIconH, .classic .dijitSliderDisabled .dijitSliderDecrementIconH {
  background-position: -321px 50%;
  background-color: #264460;
}
.classic .dijitSliderReadOnly .dijitSliderIncrementIconH, .classic .dijitSliderDisabled .dijitSliderIncrementIconH {
  background-position: -215px 50%;
  background-color: #264460;
}
.classic .dijitSliderReadOnly .dijitSliderDecrementIconV, .classic .dijitSliderDisabled .dijitSliderDecrementIconV {
  background-position: -3px 49%;
  background-color: #264460;
}
.classic .dijitSliderReadOnly .dijitSliderIncrementIconV, .classic .dijitSliderDisabled .dijitSliderIncrementIconV {
  background-position: -107px 49%;
  background-color: #264460;
}
