/*.pop-dialog.langContainer {
    width: auto !important;
}

 .navbar-inverse .pop-dialog.is-visible {
 	display: block; 
 	-webkit-animation: reveal .2s ease-out;
 	width: 330px;
 	margin: 10px -10px 0px -10px;
 }

 .navbar-inverse  .pop-dialog .notifications{
        margin: 0;
 }
 .navbar-inverse  .pop-dialog .notifications h3 {
 	font-size: 13px;
 	color: #404951;
 	margin-top: 5px;
 	margin-bottom: 15px;
 }

 .navbar-inverse  .pop-dialog .notifications .item {
 	display: block;
 	padding: 10px 0px 8px 20px;
 	background: rgb(240, 246, 255);
 }
 .navbar-inverse  .pop-dialog .messages .item .display {
	float: left;
	border-radius: 50px;
	margin-right: 15px;
    float: left;
    border-radius: 50px;
   margin-right: 15px;
 }
 .navbar-inverse  .pop-dialog .messages .item .name {
 	font-size: 12px;
 }*/