<div class ="WizardListItem table-cell" data-dojo-attach-point="listWidget">
    <h1 data-dojo-attach-point="head_text"></h1>
    <p data-dojo-attach-point="desc_text"></p>
    <span class="offset6" style="display: none" data-dojo-attach-point="cpuNode"></span>
    <span class="offset4" style="display: none" data-dojo-attach-point="ramNode"> </span>
    <img src="js/dojo-1.8/FogPanel/themes/WizardListItem/images/upArrow.png" class="upArrow" 
         data-dojo-attach-point="upArrowNode" title="Go Up" />
    <img src="js/dojo-1.8/FogPanel/themes/WizardListItem/images/downArrow.png"
         class="downArrow" data-dojo-attach-point="downArrowNode" title="Go Down"/>    
    <a  data-dojo-attach-point="startNode" id="startTag" style="display: none">Start</a>
    <a data-dojo-attach-point="stopNode" id="stopTag" style="display: none">Stop</a>
    <a  data-dojo-attach-point="rebootNode" id="rebootTag" style="display: none">Reboot</a>
    <a data-dojo-attach-point="summaryNode" style="display: none; float: right; cursor: pointer">Summary</a>
    <a  data-dojo-attach-point="deleteNode" id="deleteTag">Delete</a>
    <a data-dojo-attach-point="attachNode" id="attachTag" style="display: none">Attach Disk</a>
    <a  data-dojo-attach-point="changeServiceNode" id="changeServiceTag" style="display: none">Change Service</a>
</div>
