<div class="InstanceStatusContainer"> 
    <div class="row-fluid grind-icons">
        <div class="span2" data-dojo-attach-point="startInstanceContainer">
            <img title="${instanceStartStatus}" data-dojo-attach-point="startInstanceNode" src="js/dojo-1.8/FogPanel/themes/InstanceStatus/images/vm_play_icon.png"/>  
        </div>
        <div class="span2" data-dojo-attach-point="stopInstanceContainer">
            <img title="${instanceStopStatus}" data-dojo-attach-point="stopInstanceNode" src="js/dojo-1.8/FogPanel/themes/InstanceStatus/images/vm_stop_icon.png"/>
        </div>
        <div class="span2" data-dojo-attach-point="rebootInstanceContainer">
            <img title="${instanceRebootStatus}" data-dojo-attach-point="rebootInstanceNode" src="js/dojo-1.8/FogPanel/themes/InstanceStatus/images/vm_reboot_icon.png"/>
        </div>
        <div class="span2" data-dojo-attach-point="deleteInstanceContainer">
            <img title="${instanceDeleteStatus}" data-dojo-attach-point="deleteInstanceNode" src="js/dojo-1.8/FogPanel/themes/InstanceStatus/images/vm_delete_icon.png">
        </div>
        <div class="span2" data-dojo-attach-point="restoreInstanceContainer">
            <img  title="${instanceRestoreStatus}" data-dojo-attach-point="restoreInstanceNode" src="js/dojo-1.8/FogPanel/themes/InstanceStatus/images/vm_restore_icon.png"/>
        </div>
        <div class="span2" data-dojo-attach-point="instanceMigrateContainer">
            <img title="${instanceMigratStatus}" data-dojo-attach-point="instanceMigrateNode" src="js/dojo-1.8/FogPanel/themes/InstanceStatus/images/vm_migrate.png"/> 
        </div>                                                       
    </div>    
</div>