<div class="row-fluid AccountStatusContainer">
<div class="span12">
    <div class="span1" data-dojo-attach-point="lockAccountNode"><img title="Lock" src="js/dojo-1.8/FogPanel/themes/AccountStatus/images/user_lock_icon.png"></div>
    <div class="span1" data-dojo-attach-point="disableAccountNode"><img title="Disable Account" src="js/dojo-1.8/FogPanel/themes/AccountStatus/images/user_disable_icon.png"/></div>
    <div class="span1" data-dojo-attach-point="enableAccountNode"><img title="Enable Account" src="js/dojo-1.8/FogPanel/themes/AccountStatus/images/user_enable_icon.png"/></div>
    <div class="span1" data-dojo-attach-point="cancelAccountNode"><img title="Cancel Account" src="js/dojo-1.8/FogPanel/themes/AccountStatus/images/user_cancel_icon.png"/></div>
    <div class="span1" data-dojo-attach-point="suspendAccountNode"><img title="Suspend Account" src="js/dojo-1.8/FogPanel/themes/AccountStatus/images/user_suspend_icon.png"></div>
    <div class="span1" data-dojo-attach-point="resetPasswordNode"><a><img title="Reset Password" src="js/dojo-1.8/FogPanel/themes/AccountStatus/images/user_passrest_icon.png"></a>
    </div>
    <div class="span1" data-dojo-attach-point="unlockAccountNode"><img title="Unlock" src="js/dojo-1.8/FogPanel/themes/AccountStatus/images/user_unlock_icon.png"></div>
    <div class="span1" ><a href="#" data-dojo-attach-point="loginAccountNode"><img title="Login Account" src="js/dojo-1.8/FogPanel/themes/AccountStatus/images/user_login_icon.png"/></a></div>
</div>
</div>