.invoice_frame{
	border:1px solid #dad7d7;
	-webkit-border-radius: 8px;
    border-radius: 8px;
	padding:15px;
	font-size:12px;
	-webkit-box-shadow:  0px 0px 2px 2px rgba(164, 164, 164, 0.5);
    box-shadow:  0px 0px 2px 2px rgba(164, 164, 164, 0.5);
}
.invoice_frame h3{
    margin-top: 15px !important;
}
.invoice-acc-no-label{
	white-space:nowrap;
	text-align:left;
}
.invoice-acc-no-label h4{
	text-align:left;
	margin:0;
	line-height:35px;
}
.invoice-acc-no{
	border:1px solid #dad7d7;
	-webkit-border-radius: 8px;
    border-radius: 8px;
	padding:8px;
	-webkit-box-shadow: inset 2px 2px 3px 1px rgba(163, 163, 163, 0.2);
    box-shadow: inset 2px 2px 3px 1px rgba(163, 163, 163, 0.2);
	color:#818181;
	font-weight:700;
	font-size:14px;
}
.invoice-date-numb-label{
	color:#4e4e4e;
	font-size:14px;
	font-weight:700;
	float:left;
}
.invoice-date-numb-info{
	color:#000;
	font-size:14px;
	font-weight:700;
	float:left;
}
.generatebtn_csv, .generatebtn_pdf{
	background: #ffffff !important;
	border:1px solid #D0DDE9 !important;
	/*text-shadow:1px 1px 0 rgba(0, 0, 0, 0.3) !important;*/
	color:#626263 !important;
	-webkit-box-shadow:  0px 0px 0px 0px !important;
    box-shadow:  0px 0px 0px 0px !important;
	padding:3px 5px;
	margin:10px 0px 3px 10px;
	font-weight:400;
	-moz-border-radius: 4px;
	border-radius: 4px;
	float:left;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
}
.generatebtn_csv:hover, .generatebtn_pdf:hover{
	text-decoration:none;
	color:#000000 !important; 
}
.pdf_icon{
	background:url(../images/pdf.png) no-repeat;
	width:16px;
	height:16px;
	float:left;
	margin-right:5px;
}
.pagebreak{
	border-bottom:1px solid #dad7d7;
}
.duedate_cont{
	background:#e74c3c;
	border:1px solid #b63d31;
	color:#fff;
	font-size:12px;
	font-weight:700;
	-webkit-border-radius: 8px;
    border-radius: 8px;
	padding:8px;
	margin:8px 0;
}
.value_dollar {
	/*background:#2c3e50;*/
	/*border:1px solid #34495e;*/
	color:#2c3e50;
	font-size:12px;
	font-weight:700;
	/*-webkit-border-radius: 8px;
    border-radius: 8px;*/
	padding:0 4px 0 25px;
	margin:8px 0 8px 12px;
	text-align:center;
	float:right;
	width: 115px;
	line-height:35px;
	background:url(../images/value_icon.png) no-repeat left;
}
.invoice_pricebox_ui{
	width:840px;
	height:106px;
	margin:0 auto;
	background:url(../images/invoice_pricebox_ui_refund.png) no-repeat;
}
.invoice_pricebox_ui_wotrefund{
	width:670px;
	height:106px;
	margin:0 auto;
	background:url(../images/invoice_pricebox_ui.png) no-repeat;
}
.invoice_pricebox_ui ul, .invoice_pricebox_ui_wotrefund ul{
	margin:0;
	padding:0;
	list-style:none;
}
.invoice_pricebox_ui ul li, .invoice_pricebox_ui_wotrefund ul li{
	margin:0;
	padding:0;
	float:left;
	display:block;
	text-align:center;
	font-size:14px;
	font-weight:700;
	color:#4e4e4e;
}
.invoice_pricebox_ui ul li.prev-bal, .invoice_pricebox_ui_wotrefund ul li.prev-bal{
	width:157px;
	margin:0 12px 0 0;
}
.prev-bal .amtvalue{
	color:#d35400;
}
.invoice_pricebox_ui ul li.payment, .invoice_pricebox_ui_wotrefund ul li.payment{
	width:157px;
	margin:0 14px 0 0;
}
.payment .amtvalue{
	color:#16a085;
}
.invoice_pricebox_ui ul li.credit, .invoice_pricebox_ui_wotrefund ul li.credit{
	width:157px;
	margin:0 14px 0 0;
}
.credit .amtvalue{
	color:#3498db;
}
.credit_refund_wrapper{
	width:124px;
	line-height:18px;
	margin:8px 0 0 15px;
}
.creditamt_cont{
	font-size:12px;
	color:#4e4e4e;
	float:right;
	margin-top:5px;
	width:150px;
	text-align:center;
	font-style:italic;
}
.creditamt_cont span{
	color:#F00;
}
.refundamt_cont{
	font-size:14px;
	color:#4e4e4e;
}
.refundamt_cont span{
	font-size:14px;
	display:block;
	color:#3498db;
}

.invoice_pricebox_ui ul li.curr-chrg, .invoice_pricebox_ui_wotrefund ul li.curr-chrg{
	width:157px;
	margin:0 14px 0 0;
}
.invoice_pricebox_ui ul li.total-pay, .invoice_pricebox_ui_wotrefund ul li.total-pay{
	width:157px;
	color:#fff;
	text-shadow: 1px 1px 0px #5193b8;
    filter: dropshadow(color=#5193b8, offx=1, offy=1);
}
.amtvalue{
	font-size:30px;
	line-height:80px;
}
/*-------------------------------------------------------------
CURRENT USAGE INFO CONTAINER
--------------------------------------------------------------*/
.current-usage-info-cont{
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	margin-top:30px;
/*	border:1px solid #dad7d7;
*/	-webkit-border-radius: 8px;
    border-radius: 8px;
	-webkit-box-shadow:  0px 0px 2px 2px rgba(164, 164, 164, 0.5);
    box-shadow:  0px 0px 2px 2px rgba(164, 164, 164, 0.5);
}
.current-usage-info-zone ul, .current-usage-info-vms ul, .current-usage-info-vms-desc ul{
	margin:0;
	padding:0;
	list-style:none;
}
.current-usage-info-zone ul li, .current-usage-info-vms ul li, .current-usage-info-vms-desc ul li{
	margin:0;
	padding:0;
	display:block;
}
.current-usage-info-zone{
	background:#2c3e50;
	-webkit-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
	font-weight:700;
}
.current-usage-info-vms{
	background:#3f5972;
	font-weight:700;
	/*margin-left:0 !important;*/
	/*-webkit-box-shadow: inset 3px 3px 2px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 3px 3px 2px 1px rgba(0, 0, 0, 0.5);*/
}
.current-usage-info-vms-desc{
	/*display:none!important;*/
	/*position:absolute;*/
	top:0;
	right:0%;
	background:#d6dee5;
	-webkit-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;
	/*margin-left:0 !important;*/
	/*-webkit-box-shadow: inset 2px 0px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 2px 0px 2px 0px rgba(0, 0, 0, 0.5);*/
	min-height:640px;
	/*padding:10px;*/
}
.cuinfo-zone-item{
	cursor: pointer;
	padding:10px 8px !important;
	/*margin:8px !important;*/
	border-top:1px solid #34495e;
	color:#fff;
}
.cuinfo-zone-item:hover{
	background:#1c2834;
}
.cuinfo-zone-item-liactive{
	background:#1c2834;
}
.cuinfo-zone-item-active{
/*	width: 0px;
	height: 0px;*/
	border-style: solid;
	border-width: 20px 0 20px 12px;
	border-color: transparent transparent transparent #1c2834;
	position:absolute;
	margin-left:22.7% !important;
	margin-top:-2.8%;
	display:none;
	z-index:500;
}
@media (max-width: 1024px) {
  .cuinfo-zone-item-active{
	margin-left:22% !important;
	margin-top:-3.6%;
}
}
.cuinfo-zone-item i{
	margin-right:5px;
}
.cuinfo-zone-item-title{
	background:#ecf0f1;
	font-size:18px;
	font-weight:300;
	padding:8px 5px !important;
}
.cuinfo-zone-item-title-price{
	background:#2C3E50;
	-webkit-border-radius: 4px;
    border-radius: 4px;
	padding:4px;
	float: right;
	color:#ecf0f1;
	margin-top:-4px;
	font-size:14px !important;
	font-weight:300;
}
.cuinfo-zone-item-price{
	background:#ecf0f1;
	-webkit-border-radius: 4px;
    border-radius: 4px;
	padding:4px;
	float: right;
	color:#2C3E50;
	margin-top:-5px;
	font-weight:300;
}
.cuinfo-vms-item{
	cursor: pointer;
	padding:10px 8px 10px 15px !important;
	/*margin:8px !important;*/
	border-top:1px solid #486480;
	color:#fff;
}
.cuinfo-vms-item:hover{
	background:#33495d;
}
.cuinfo-vms-item-liactive{
	background:#33495d;
}
.cuinfo-vms-item-active{
/*	width: 0px;
	height: 0px;*/
	border-style: solid;
	border-width: 20px 0 20px 15px;
	border-color: transparent transparent transparent #33495d;
	position:absolute;
	margin-left:22% !important;
	margin-top:-2.8%;
	display:none;
	z-index:500;
}
@media (max-width: 1024px) {
  .cuinfo-vms-item-active{
	margin-left:21.2% !important;
	margin-top:-3.6%;
}
}
.cuinfo-vsm-item-price{
	background:#ECF0F1;
	-webkit-border-radius: 4px;
    border-radius: 4px;
	padding:4px;
	float: right;
	color:#2C3E50;
	margin-top:-5px;
	font-weight:300;
}
.cuinfo-vms-item-title{
	background:#ecf0f1;
	font-size:18px;
	font-weight:300;
	padding:8px 5px !important;
}
.cuinfo-vms-item-title-price{
	background:#2C3E50;
	-webkit-border-radius: 4px;
    border-radius: 4px;
	padding:4px;
	float: right;
	color:#ecf0f1;
	margin-top:-4px;
	font-size:14px !important;
	font-weight:300;
}
.cuinfo-vms-item-infobox{
}
.cuinfo-vms-desc-item-title{
	background:#ecf0f1;
	font-size:18px;
	font-weight:300;
	padding:8px 5px !important;
}
.cuinfo-vms-desc-item-title-price{
	background:#2C3E50;
	-webkit-border-radius: 4px;
    border-radius: 4px;
	padding:4px;
	float: right;
	color:#ecf0f1;
	margin-top:-4px;
	font-size:14px !important;
	font-weight:300;
}
.cuinfo-vms-desc-table{
	padding:5px;
}
/*------------------------------------------------------------
DIV TABLE STRUCTURE
----------------------------------------------------------------*/
.divTable { width: 100%; height: auto; display: table; border-right: 1px solid #cacaca; border-left: 1px solid #cacaca;-webkit-box-shadow: 1px 1px 2px 0px rgba(184, 184, 184, 0.8); box-shadow: 1px 1px 2px 0px rgba(184, 184, 184, 0.8); margin-bottom:15px; }

.divTableRow {max-width: 100%; height: auto; display: table-row;}
.divTableRow_title {width: 100%; height: auto; display: table-row;}

.divTableRow_title .divTableCell { width: 10%; height: auto; display: table-cell; border-top: 1px solid #cacaca; border-left: 1px solid #cacaca; border-bottom: 1px solid #cacaca; border-right:0; text-align:center; line-height:20px; padding:5px; background: #ffffff; color:#1C2834; font-weight:700; font-size:12px;}
.divTableRow_title .divTableCell.first{border-left: 0px;}

.divTableCell { 
    width: 10%;
    height: auto; 
    display: table-cell; 
    border-right: 0px solid #e9eaef; 
    border-bottom: 1px solid #b5b7c3; 
    border-left: 1px solid #e9eaef; 
    text-align:center; 
    line-height:20px; 
    padding:5px; 
    background:#f3f4f8;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
}


.Running {
    
   width:4px;height:4px;
   background:#0bbc10;
   float:left;
   margin-top:-4px;
   margin-left:-4px;
   -webkit-border-radius: 4px 4px 4px 4px;
   border-radius: 4px 4px 4px 4px; 
}

.Stopped {
    
   width:4px;height:4px;
   background:#ff0000;
   float:left;
   margin-top:-4px;
   margin-left:-4px;
   -webkit-border-radius: 4px 4px 4px 4px;
   border-radius: 4px 4px 4px 4px; 
}

 #Expunging {
     text-decoration:line-through;
 }

/*-----------------------------------------------------------------*/
.content {
    width: 100%;
    display: block;
    clear: both;
}

.content .leftContent {
    float: left;
}

.content .leftContent h5, h4, img {
    margin: 0 0 0 40px;
    padding: 0;
    text-align: left;
    font-family: sans-serif;
    
}

.content .leftContent h4 {
    font-family: sans-serif;
    color: #575757;
   font-size: 20px;
   padding-bottom: 10px; 
}

.content .resultContent span {
    font-size: 11px;
    font-weight: bold; 
    margin-left: 17px;   
    float: left;
    margin-top: 3px;
}

.content .resultContent label {
    font-size: 10px;
    font-weight: bold;
    float: left;
    width: 200px;
    line-height: 20px;
    text-align: right;
    font-family: sans-serif;
}

.content .resultContent .mainContent {
    border: 1px solid #000000;
    float: right;
    /*margin-right: 40px;*/
    width: 80px;
}


.content .resultContent .mainContent span {
    float: right;   
    padding: 5px;
    /*font-size: 12px;*/
}
.content .resultContent .offset1 {
    margin-left: 50px;
}
    
.content .resultContent .offset2 {
    margin-left: 90px;
}
.content .resultContent .offset8 {
    margin-left: 345px;
}
.content .rigthContent {
    float: right;
    margin-bottom: 10px;
}
.content h2 {
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 23px;
}

.content ul li {
    font-size: 12px;
    font-weight: normal;    
    font-family: sans-serif;
}

.content ul {
    clear: both;
    margin: 0px;
    list-style-type: none;
    text-align: left;
}

.content p {
    text-align: right;
    font-size: 8px;
    font-family: sans-serif;
    margin: 0;
    line-height: 12px;
   
}
.content h6 {
    text-align: left;
    margin: 0;
    font-family: sans-serif;
    padding: 3px;
   
}

.content .invoiceDetails {
    /*float: right;*/
    display: block;
    clear: right;
    margin: 0;
}
.content .rigthContent hr, .content .leftContent hr {
    display: block;
    width: 390px;
    height: 0px;
    color: #000000;
    margin-bottom: 0;
}

.content .leftContent hr {
    width: 60px;
    margin-left: 40px;
    margin-bottom: 0;
}
.content .rigthContent .invoiceDetails .labelContaicer {
    width: 175px;
    background: #CCCCCC;
    float: left;
}
.content .rigthContent .invoiceDetails .labelContaicer label,
.content .rigthContent .invoiceDetails .spanContainer span {
    display: block;
    font-size: 10px;
    text-align: right;
    font-family: sans-serif;
    padding: 3px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px 1px 0 1px;
    color: #000000;
}

.content .rigthContent .invoiceDetails .bottomBorder label,
.content .rigthContent .invoiceDetails .bottomBorder span {
    border-bottom: 1px solid #000000;
}

.content .rigthContent .invoiceDetails .spanContainer span {
    border-left: 0px;
}



.content .rigthContent .invoiceDetails .spanContainer {
    width: 120px;
    float: left;
}

.sample_table {
    
    border-collapse: collapse;
}

.sample_table th {
    text-align:center;   
    font-size: 11px;
    font-weight: normal; 
    border: 1px solid #000000;
    /*padding: 5px;*/
    padding: 3px 6px 3px 7px;
    background-color:#b2b2b2;
    font-family: sans-serif;
    }
 
.sample_table td {
    font-family: sans-serif;
    background : #FFFFFF;
    font-size: 10px;
    text-align: right;
    padding-left: 1px;
    /*padding-right: 1px;*/
}     
.sample_table tr .leftAlign {
    text-align: left;
}

.sample_table tr .centerAlign {
    text-align: center;
}

.content .summaryDetail label {
    font-size: 10px;
    font-weight: bold;
    font-family: sans-serif;
}
.content .summaryDetail span {
    font-size: 10px; 
    font-weight: bold; 
    margin-left: 40px;
}

.offset12 {
  margin-left: 980px;
}
.offset11 {
  margin-left: 900px;
}
.offset10 {
  margin-left: 820px;
}
.offset9 {
  margin-left: 740px;
}
.offset8 {
  margin-left: 660px;
}
.offset7 {
  margin-left: 580px;
}
.offset6 {
  margin-left: 500px;
}
.offset5 {
  margin-left: 420px;
}
.offset4 {
  margin-left: 340px;
}
.offset3 {
  margin-left: 260px;
}
.offset2 {
  margin-left: 180px;
}
.offset1 {
  margin-left: 100px;
}