.ListContainer {
    width: 290px;
    height: auto;
    border: 1px solid #000000;
    margin: 5px 5px 5px 5px;
  } 

.ListContainer h1 {
    margin-top: 0;
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ListContainer p {
    margin-bottom: 0;
    margin-top: -20px;
    font-family: sans-serif;
    font-size: 14px;
}

.ListContainer h1:hover {
    cursor: pointer;
}

.ListContainer #deleteTag {
    float: right;
    margin-top: -17px;
    
/*    margin-left: 20px;
    margin-top: -17px;*/
}

.ListContainer a{
    float: left;
    margin-left: 10px;
    margin-top: -17px;
}
