<div class ="ListContainer" data-dojo-attach-point="listWidget">
    <h1 data-dojo-attach-point ="head_text"></h1>
    <p data-dojo-attach-point ="desc_text"></p>
    <a href="#" data-dojo-attach-point="startNode" id="startTag" style="display: none">Start</a>
    <a href="#" data-dojo-attach-point="stopNode" id="stopTag" style="display: none">Stop</a>
    <a href="#" data-dojo-attach-point="rebootNode" id="rebootTag" style="display: none">Reboot</a>
    <a href="#" data-dojo-attach-point="deleteNode" id="deleteTag">Delete</a>
    <a href="#" data-dojo-attach-point="attachIsoNode" id="attachIsoTag">attachIso</a>
    <a href="#" data-dojo-attach-point = "attachNode" id="attachTag" style="display: none">Attach Disk</a>
    <a href="#" data-dojo-attach-point = "changeServiceNode" id="changeServiceTag" style="display: none">Change Service</a>
    
</div>


