<div>
    <div  data-dojo-attach-point="storageProperties">
        <button type="button" data-dojo-attach-point="detachButton" class="detach_icon" title="Detach"> </button>
        <button type="button" data-dojo-attach-point="deleteButton" class="delete_icon" title="Delete"> </button>  
        <button type="button" data-dojo-attach-point="attachButton" class="attach_icon" title="Attach"> </button>
        <button type="button" data-dojo-attach-point="resizeButton" class="attach_icon" title="Resize"> </button>
        
        <button type="button" data-dojo-attach-point="snapshotButton"> </button>
    </div>
    <div data-dojo-attach-point="snapShotPropeties" style="display: none">
<!--        <button type="button" data-dojo-attach-point="tempButton">        
        </button>-->
        <button type="button" data-dojo-attach-point="volumeButton" class="volume_icon" title="Add Disk"> </button>  
        <button type="button" data-dojo-attach-point="deleteSnapShotButton" title="Delete Snapshot"> </button>  
    </div>
    <a data-dojo-attach-point="deleteTag" style="display: none;" class="deleteTag">Delete</a>
    <a data-dojo-attach-point="updateTag" style="display: none" class="defaultTag ">Update</a>
    <img src='' alt='' height='25' width='25' data-dojo-attach-point = "templateImageTag" style="display: none"/>
    <a href='#/user/cloud/instanceInfo' data-dojo-attach-point="nameTag" style="display: none">name</a>
    
</div>
 