<div class="zonePriceWidget">
    <div class="row-fluid span12" data-dojo-attach-point="zonePriceList">
        <div class="span4" data-dojo-attach-point="zoneNameNode"></div>
        <div class="span6">
           <input type="number" data-dojo-attach-point="miscRunningCostPerMonth"> 
        </div>        
        <span data-dojo-attach-point ="miscRunnigCostPerHrLabel" class="unitCost">0.00000</span>        
        <span data-dojo-attach-point ="zoneId" style="display: none"></span>            
    </div>
</div>


